@import '~src/constants/const';

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 $page-margin;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .btn_toggle {
    font-size: 20px;
    transition: all 0.3s, padding 0s;
  }

  .user_name {
    margin-left: 12px;
    color: #616773;
  }
}
