{
  "extends": [
    "airbnb",
    "prettier",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
