{
  "extends": "plugin:react/recommended",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "import"],
  "rules": {
    "no-console": "error",
    "prefer-const": "error",
    "no-empty-function": "error",
    "lines-between-class-members": "warn",
    "import/order": "warn",
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react/jsx-no-bind": [
      "error",
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowBind": true
      }
    ],
    "react/sort-comp": "error",
    "react/self-closing-comp": "error",
    "@typescript-eslint/no-useless-constructor": "error"
  }
}
