{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["@typescript-eslint", "react", "import", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unsafe": [
      "error",
      {
        "checkAliases": true
      }
    ],
    "react/self-closing-comp": "warn",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "instance-variables",
          "lifecycle",
          "everything-else",
          "rendering"
        ]
      }
    ],
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/no-array-constructor": "error",
    "@typescript-eslint/camelcase": "error",
    "@typescript-eslint/class-name-casing": "error",
    "@typescript-eslint/interface-name-prefix": "error",
    "getter-return": "off",
    "no-dupe-args": "off",
    "no-dupe-keys": "off",
    "no-unreachable": "off",
    "valid-typeof": "off",
    "no-const-assign": "off",
    "no-new-symbol": "off",
    "no-this-before-super": "off",
    "no-undef": "off",
    "no-dupe-class-members": "off",
    "no-redeclare": "off",
    "no-unused-vars": "off",
    "no-var": "error",
    "no-console": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-const": "error",
    "no-empty-function": "error",
    "eqeqeq": "error",
    "array-callback-return": "error",
    "default-case": "error",
    "no-shadow": "error",
    "no-return-await": "error",
    "no-await-in-loop": "error",
    "require-await": "error",
    "generator-star-spacing": ["warn", "after"],
    "yield-star-spacing": ["warn", "after"],
    "spaced-comment": ["warn", "always", { "markers": ["/"] }]
  }
}
