@import '~src/constants/const';

.wrap {
  display: flex;
  flex-direction: column;
  margin: $page-margin;
  margin-bottom: 0;
  padding: $page-margin;
  background-color: white;

  .header {
    margin-bottom: $page-margin;

    > * {
      margin-right: 16px;
    }
  }
}
