.wrap {
  text-align: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    font-size: calc(10px + 2vmin);
    background-color: #282c34;

    > :last-child {
      margin: 20px 0;
    }
  }
}
