@import '~src/constants/const';

.logo {
  height: 64px;
  margin: 0 0 0 $page-margin;
  overflow: hidden;

  > a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    line-height: 64px;

    &:hover {
      color: white;
    }
  }
}
