@import '~src/constants/const';

.logo {
  width: 30px;
  height: 30px;
  background: url(../assets/images/logo.png) no-repeat;
  background-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.left {
  display: flex;
  align-items: center;

  > span {
    font-size: 18px;
  }
}

.right {
  display: flex;

  :global {
    .ant-menu-item {
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
    }

    .ant-menu-item-selected {
      color: $primary-color;
      background-color: transparent !important;
    }

    .ant-menu-item-selected:hover {
      color: $primary-color;
    }
  }
}
